@use "@forwards" as *;

.bg {
    --bg-scale: 0.9;
    background-color: transparent;
    position: relative;
    @include max-prop(padding, rem(10), rem(10));

    @include below("md") {
        padding: 0;
    }

    &::before {
        content: "";
        height: calc(100% - (var(--padding) * 2));
        left: var(--padding);
        pointer-events: none;
        position: absolute;
        top: var(--padding);
        transform: scale(var(--bg-scale));
        width: calc(100% - (var(--padding) * 2));
        z-index: 1;
        @include br;
        @include max-prop(--padding, rem(10), rem(10));

        @include below("lg") {
            display: none;
        }
    }

    & > section {
        @include br;
    }

    &--white {
        &::before {
            background-color: $white;
        }

        @include below("lg") {
            & > section {
                background-color: $white;
            }
        }
    }
}
