@use "@forwards" as *;

.header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z("header");

    @include above("md") {
        @include max-prop(padding, rem(10), vw(10));
    }

    &__inner {
        // background-color: rgba($white, 0.9);
        // backdrop-filter: blur(5px);
        background-color: $white;
        box-shadow: 0 10px 20px 0 rgba($color: $midnight-indigo, $alpha: 0.1);
        overflow: visible !important;
        padding: rem(10) calc(var(--gutter) / 2);
        width: 100%;
        @include flex(space-between, center, 0, row);

        @include above("md") {
            @include br;
            @include max-prop(padding, rem(10), vw(10));
        }
    }

    &__nav {
        & ul {
            @include flex(flex-start, center, rem(40), row);

            @include below("md") {
                gap: rem(25);
            }

            @include below("sm") {
                flex-direction: column;
                height: 100%;
            }
        }

        @include below("sm") {
            background-color: $white;
            box-shadow: 0 10px 20px 0 rgba($color: $midnight-indigo, $alpha: 0.1);
            display: none;
            left: 0;
            opacity: 0;
            overflow: auto;
            padding: rem(10);
            padding-bottom: rem(10);
            padding-top: calc(var(--header-height));
            position: fixed;
            right: 0;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: -1;
            @include br;
        }

        &.open {
            @include below("md") {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
