@use "@forwards" as *;

.arrow-btn {
    aspect-ratio: 1/1;
    background-color: $soft-sky;
    border: rem(1) solid $soft-sky;
    padding: rem(14);
    position: relative;
    transition: $trans;
    @include br;
    @include flex(center, center, rem(10), row);

    @include below("md") {
        padding: rem(14);
    }

    & svg {
        height: rem(12);
        width: rem(12);

        & path {
            fill: $midnight-indigo;
            transition: $trans;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }

    @include hover {
        &:not(:disabled) {
            background-color: transparent;

            & svg path {
                fill: $soft-sky;
            }
        }
    }

    &.swiper-button-prev {
        transform: rotate(180deg) translateY(50%) !important;
    }

    &--close {
        & svg {
            height: rem(25);
            width: rem(25);
        }

        @include hover {
            &:not(:disabled) {
                & svg path {
                    stroke: $white;
                }
            }
        }
    }
}
