@use "sass:math";
@use "sass:meta";

@function strip-unit($value) {
    @if meta.type-of($value) == number and not is-unitles($value) {
        @return math.div($value, $value * 0 + 1);
    }
    @return $value;
}
