@use "sass:list";

$z-indexes: ("loader", "grid", "modal", "header", "over-section", "mouse", "section", "orbs");

@function z($name) {
    @if list.index($z-indexes, $name) {
        @return (list.length($z-indexes) - list.index($z-indexes, $name))+1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; Choose one of: #{$z-indexes}';

        @return null;
    }
}
