$white: #fff;
$deep-space-blue: #040a13;
$midnight-indigo: #08132d;
$soft-sky: #b0ceff;
$royal-navy: #012859;
$cobalt-blue: #1b55b2;
$gradient: linear-gradient(270deg, $soft-sky 0%, $midnight-indigo 100%);
