@use "sass:map";
@use "../utils/variables" as *;

@mixin above($breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin below($breakpoint) {
    @media (max-width: #{map.get($breakpoints, $breakpoint) - 1px}) {
        @content;
    }
}
