@use "@forwards" as *;

// @include font-face("FKGroteskNeue-Regular", "FKGroteskNeue-Regular", 400);
// @include font-face("FKGroteskNeue-Regular", "FKGroteskNeue-Medium", 700);
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

$title-font: "Figtree", sans-serif;
$body-font: "Figtree", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-style: normal;
    font-weight: 400;
}

body,
p,
ul,
ol,
input,
button,
a,
select,
textarea,
label,
* {
    font-family: $body-font;
    font-style: normal;
    font-weight: 400;
}

h5,
.h5,
.btn,
.link {
    font-weight: 500;
}

strong,
b,
.bold {
    font-family: inherit;
    font-weight: 700;
    letter-spacing: inherit;
    line-height: inherit;

    & span {
        font-weight: 500;
    }
}

.label {
    font-weight: 600;
}
