@use "@forwards" as *;

#preloader {
    background-color: $midnight-indigo;
    height: 100dvh;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity 0.6s ease;
    width: 100vw;
    z-index: z("loader");
    @include flex(center, center, 0, column);
}

.logo_animation {
    width: 40%;
}
