@view-transition {
    navigation: auto;
}

@keyframes move-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes move-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::view-transition-group(root) {
    animation-duration: 0.4s;
}

::view-transition-old(root) {
    animation: 0.25s ease-out both move-out;
}

::view-transition-new(root) {
    animation: 0.25s ease-in both move-in;
}
